* {
    box-sizing: border-box;
}
body{
  background-color: #e1dcdb;
  font-family: arial;
}
.header{
  background-color: #12475f;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.nav{
  float: left;
  width: 30%;
  height: 900px;
  background: #12475f;
  padding: 20px;
  color: white;
}
.header{
	background-color: 8a8a8a;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
.nav{
	float: left;
	width: 30%;
	height: 900px;
	background: #12475f;
	padding: 20px;
	font-size: 25px;
	color: black;
	text-decoration: none;

}
.nav ul{
  	list-style-type: none;
  	padding: 0;
}
.article{
  float: left;
  width: 70%;
  height: 900px;
  background-color: #ffffff;
  padding: 20px;
}

#head{
    height: 300px;
}
  
#head h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: head;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
  
@keyframes head {
    0%   {top: -50px;}
    100% {top: 130px;}
}
#navi {
    position: relative;
    animation-name: navi;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
@keyframes navi {
    0%   {left: -1000px;}
    100% {left: 0;}
}
#myself {
    position: relative;
    animation-name: myself;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
@keyframes myself {
    0%   {right: -1000px;}
    100% {right: 0;}
}

@media (max-width: 600px) {
nav, article {
  width: 100%;
  height: auto;
}
}