body{
	background-color: #e1dcdb;
	font-family: arial;
}
header{
	font-size: 50px;
	background-color: #909090;
	margin: 5px 5px 5px 5px; 
}
section{
	font-size: 25px;
	background-color: #ffffff; 
}
.information{
	font-size: 25px;
	background-color: #ffffff;
}
.list{
	background-color: #d8d8d8;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-right: 10px
}
.flex-container{
	display: flex;
	justify-content: flex-start;
	background-color: DodgerBlue;
}
.flex-container > div{
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
