* {
  	box-sizing: border-box;
}
body{
	background-color: #e1dcdb;
	font-family: arial;
}
header{
	background-color: 8a8a8a;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
nav{
	float: left;
	width: 30%;
	height: 900px;
	background: #d6d6d6;
	padding: 20px;
}
article{
	float: left;
	width: 70%;
	height: 900px;
	background-color: #f1f1f1;
  	padding: 20px;
}
.responsive {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
