* {
  	box-sizing: border-box;
}
body{
	background-color: #ffffff;
	font-family: arial;
}
header{
	background-color: 8a8a8a;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
nav{
	float: left;
	width: 30%;
	height: 100%;
	background: #d6d6d6;
	padding: 20px;
}
nav ul{
  	list-style-type: none;
  	padding: 0;
}
article{
	float: left;
	width: 70%;
	height: 100%;
	background-color: #f1f1f1;
  	padding: 20px;
}
section::after{
  	content: "";
  	display: table;
  	clear: both;
}
footer{
  	background-color: #8a8a8a;
 	padding: 10px;
 	text-align: center;
 	color: white;
}
footer ul{
  	list-style-type: none;
  	padding: 0;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


